<li>
  <%#= gravatar_for user, size: 52 %>
  <%= link_to team.name, team %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", team, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>