<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @team %>
        Team <%= @team.name %>
      </h1>
    </section>
    has <%= pluralize(@team.users.size, "member") %>
    <% if @team.users.size > 0 %>
      <ol class="records">
        <%= render @team.users %>
      </ol>
    <% end %>
  </aside>
  <div class="span8">
    <% options = {:title=> 'progress', :hAxis=> {title: 'steps'}, :isStacked=>true} %>
    <% data=[]  %>
    <% @team.users.each{ |u| data.push( {:name=>u.name,  :data=>[['',''], [@team.name, u.total]]} ) } %>   

    <%= bar_chart data, :library=>options %>

  </div>  
</div>
<%#=  %>

