<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @team %>
        Team <%= @team.name %>
      </h1>
    </section>
  </aside>
  has <%= pluralize(@team.users.size, "member") %>
  <div class="span8">
    <% if @team.users.size > 0 %>
      <ol class="records">
        <%= render @team.users %>
      </ol>
    <% end %>
  </div>  
</div>

