<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
    <% if @user.records.any? %>
      <h3>Records (<%= @user.records.count %>)</h3>
      <ol class="records">
        <%= render 'shared/feed' %>

      </ol>
    <% end %>
  </div>  
</div>
