<li>
  <span class="comment"><%= record.comment %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(record.created_at) %> ago.
  </span>
  <% if current_user?(record.user) %>
    <%= link_to "delete", record, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: "#{record.steps} on #{record.recdate}" %>
  <% end %>
</li>
